[submodule "lib/Compose"]
	path = lib/Compose
	url = https://github.com/Aryailia/archive-compose.git
[submodule "lib/bothelpers"]
	path = lib/bothelpers
	url = https://github.com/Aryailia/dbot-utils.git
